<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My ephemeral notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Semantic UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
</head>
<body>

    <!-- Main area -->
    <div class="ui container" style="margin-top: 50px;">
        <div class="ui basic center aligned segment">

            <div class="ui icon header">
                <i class="file alternate outline icon"></i>
                My ephemeral notes
            </div>

            <form class="ui form">
                <div class="field">
                    <div class="ui input icon">
                        <input class="prompt" type="text" placeholder="What's your note?" name="note">
                        <i class="file alternate outline icon"></i>
                    </div>
                </div>
                <button class="ui button" type="submit">Save</button>
            </form>
            
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const noteInput = document.querySelector('input[name="note"]');
            const note = noteInput.value.trim();
            if (note) {
                saveNoteInRedis(note);
                noteInput.value = '';
            }
        });

        // Função para salvar a nota no Redis
        function saveNoteInRedis(note) {
            // Cria uma requisição HTTP para enviar a nota para o servidor
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/api/save-note');
            xhr.setRequestHeader('Content-Type', 'application/json');

            // Configura a função que será executada quando a resposta da requisição chegar
            xhr.onload = () => {
                if (xhr.status === 200) {
                    console.log('Nota salva com sucesso.');
                } else {
                    console.error('Erro ao salvar nota.');
                }
            };

            // Envia a nota no corpo da requisição
            xhr.send(JSON.stringify({ note }));
        }
    </script>

</body>
</html>
